.App{
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    color: #f1faee;
    position: relative;
}

.header{
  justify-content: space-between;
  height: 70px;
  align-items: center;
  background-color: #001328;
  padding: 0 3%;
  border-bottom: 1px solid rgba(56, 65, 84, 0.5);


}

.litem{
  align-items: center;
}

.tele{
  padding-left: 20%;
  font-size: 25px;
}

.hamburger, .search{
  font-size: 35px;
  position: relative;
  top: 5px;
}